@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
#titulo{background:darkgreen;
  text-align:center;
  color:steelblue;
  height:100px; 
  margin-top:50px;
  line-height:90px;
  font-family:Rowdies;
}

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:Arial;
}

nav{background: rgb(191,96,13);
background: linear-gradient(107deg, rgba(191,96,13,1) 0%, rgba(138,58,8,0.9948354341736695) 17%, rgba(174,180,29,1) 34%, rgba(204,18,18,1) 43%, rgba(70,17,140,1) 59%, rgba(6,190,37,1) 78%, rgba(0,91,255,1) 100%);
  height:70px;
  width:100%;
  position:fixed;
 }

label.indice{color:white;
  font-size:45px;
  line-height:75px;
  padding:0 20px;
  font-weight:bold;
  font-family:Rowdies;
}

nav ul{
  float:right;
  margin-right:20px; 
}

nav ul li{
  display:inline-block;
  line-height:80px;
  margin:0 5px;
}

nav ul li a {
  color:yellow;
  font-size:17px;
  padding:7px 7px;
  border-radius:3px;
  font-weight:bold;
  font-family:Rowdies;
}

 a:hover{
  background:black;
  transition:1s;
}

html{
  background: rgb(191,96,13);
background: linear-gradient(107deg, rgba(191,96,13,1) 0%, rgba(138,58,8,0.9948354341736695) 17%, rgba(174,180,29,1) 34%, rgba(204,18,18,1) 43%, rgba(70,17,140,1) 59%, rgba(6,190,37,1) 78%, rgba(0,91,255,1) 100%);
  text-align:center;
  min-width:90%;
}

#tabla{color:white;
  background:green;
  margin:30px auto;
}

.imagen{
  border-style:solid;
  border-width:3px;
  border-color:green;
  margin:20px 0;
}
#gotze{
  border-style:solid;
  border-width:5px;
  border-color:darkkhaki;
  margin:20px 0;
}

ul{
  list-style:none;
}
ol{
  list-style:none;
}
.parent{
  border: 2px black solid;
  box-sizing:border-box;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-content:start;
  height:560px;
  width:200px;
  margin-left:1%;}

.box{margin:5px;
  background:#4574C5;
  height:100px;
  width:180px;
  padding:3px;
  box-sizing:border-box;
  border: 2px dotted;}

#uno{
  height:239px;
  padding:0px;
  border:2px solid yellow;
}

#dos{
   height:90px;
   border:2px dashed yellow;
}

.pai{
  border: 2px black solid;
  box-sizing:border-box;
  display:flex;
  flex-wrap:now-wrap;
  flex-direction:column;
  justify-content:center;
  height:2360px;
  width:90%;
  max-width:90%;
  margin-left:20%;
  margin-right:10%;
  background-color:grey;
  overflow:auto;
  margin-bottom:95px;}
  
  .pai a:hover{
  background-color:white;}

.pai h3{
   font-family:Rowdies;}

#menu{
  display:flex;
}

.glow{
   font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF8C00, 0 0 40px #FF8C00, 0 0 50px #FF8C00, 0 0 60px #FF8C00, 0 0 70px #FF8C00;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #B8860B, 0 0 40px #B8860B, 0 0 50px #B8860B, 0 0 60px #B8860B, 0 0 70px #B8860B, 0 0 80px #B8860B;
  }
}

.pelotita{width:100px;
  margin-top:px;
  height:100px;
  border-radius:50%;
  border:3px solid;
  background-color:steelblue;
  animation:tiro 2s ease-out;
  animation-direction:alternate;
  animation-iteration-count:infinite;
  background-image:url(https://th.bing.com/th/id/OIP._TxHNWW4W9QPdWag6HcOTwAAAA?pid=ImgDet&w=288&h=284&rs=1);
   background-size:cover;
}

@keyframes tiro{
  from{transform:translate3d(0,-6px,0);} to{transform:translate3d(1000px,-6px,0);
  } 
}