@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
#titulo{background:#854f42;
  text-align:center;
  color:#4a4330;
  height:100px; 
  margin-top:50px;
  line-height:90px;
  font-family:Rowdies;
}

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:Arial;
}

nav{background-color:#5c3233;
  height:70px;
  width:100%;
  position:fixed;
 }

label.indice{color:white;
  font-size:45px;
  line-height:75px;
  padding:0 20px;
  font-weight:bold;
  font-family:Rowdies;
}

nav ul{
  float:right;
  margin-right:20px; 
}

nav ul li{
  display:inline-block;
  line-height:80px;
  margin:0 5px;
}

nav ul li a {
  color:#2a1c11;
  font-size:17px;
  padding:7px 7px;
  border-radius:3px;
  font-weight:bold;
  font-family:Rowdies;
}

 a:hover{
  background:#c49f64;
  transition:1s;
}

html{
  background-color:#b57a54;
  text-align:center;
  min-width:90%;
}

#tabla{color:white;
  background:#854f42;
  border-color:#5c3233;
  margin:30px auto;
}

.imagen{
  border-style:solid;
  border-width:3px;
  border-color:#854f42;
  margin:20px 0;
}
#gotze{
  border-style:solid;
  border-width:5px;
  border-color:darkkhaki;
  margin:20px 0;
}

ul{
  list-style:none;
}
ol{
  list-style:none;
}
.parent{
  border: 2px black solid;
  box-sizing:border-box;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-content:center;
  height:440px;
  width:200px;
  margin-left:1%;
  background-color:#eab56d;}

.box{margin:5px;
  height:100px;
  width:180px;
  padding:3px;
  box-sizing:border-box;
  border:2px solid #854f42;
  background:#b57a54;}

#uno{
  height:239px;
  padding:0px;
}

#dos{
   height:80px;
   font-weight:bold;
}

#tres{
   height:80px;
   font-weight:bold;
}

.pai{
  border: 2px black solid;
  box-sizing:border-box;
  display:flex;
  flex-wrap:now-wrap;
  flex-direction:column;
  justify-content:center;
  height:2360px;
  width:950px;
  max-width:950px;
  margin-left:5%;
  margin-right:5%;
  background-color:#eab56d;
  overflow:auto;
  margin-bottom:95px;
  padding:10px;}
  
  .pai a:hover{
  background-color:#5c3233;
  color:#eab56d;}

.pai h3{
   font-family:Rowdies;}

.pai #formulario{
  margin-top:10px;
  font-family:Rowdies;}

#menu{
  display:flex;
  justify-content:center;
}

.glow{
   font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0045ee, 0 0 40px #0045ee, 0 0 50px #0045ee, 0 0 60px #0045ee, 0 0 70px #0045ee;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #2fbd21, 0 0 40px #2fbd21, 0 0 50px #2fbd21, 0 0 60px #2fbd21, 0 0 70px #2fbd21, 0 0 80px #2fbd21;
  }
}

.pelotita{width:100px;
  margin-top:px;
  height:100px;
  border-radius:50%;
  border:3px solid;
  background-color:steelblue;
  animation:tiro 0.7s ease-out;
  animation-direction:alternate;
  animation-iteration-count:infinite;
  background-image:url(https://th.bing.com/th/id/OIP._TxHNWW4W9QPdWag6HcOTwAAAA?pid=ImgDet&w=288&h=284&rs=1);
   background-size:cover;
}

@keyframes tiro{
  from{transform:translate3d(0,-6px,0);} to{transform:translate3d(300px,-6px,0);
  } 
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 1px) { 
  nav{display:none;}
  #titulo{
    height:200px;
    max-width:100%;
    line-height:70px;
    margin-top:0px;
    padding:50px;}
  .parent{display:none;}
  .pai{height:3000px;
  width:600px;}
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 865px) { 
  nav{display:block;}
   #titulo{
    height:150px;
    max-width:100%;
    line-height:200px;
    padding:0px;}
  .parent{display:flex;}
  .pai{ height:2390px;
  width:950px;}
}
}

 /*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

  }

 /*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1600px) { 

}


