#titulo{background:darkgreen;
  text-align:center;
  color:yellow;
  height:100px; 
  line-height:90px;
}

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:Arial;
}

nav{background:gray;
  height:70px;
  width:100%;
 }

label.indice{color:white;
  font-size:35px;
  line-height:80px;
  padding: 0 100px;
  font-weight:bold;
}

nav ul{
  float:right;
  margin-right:20px; 
}

nav ul li{
  display:inline-block;
  line-height:80px;
  margin:0 5px;
}

nav ul li a {
  color:yellow;
  font-size:17px;
  padding:7px 7px;
  border-radius:3px;
}

a.active, a:hover{
  background:violet;
  transition:0.5s;
}

html{
  background:lightskyblue;
  text-align:center;
}

#tabla{color:white;
  background:green;
  margin:20px 10%;
}

.imagen{
  border-style:solid;
  border-width:3px;
  border-color:green;
  margin:20px 17%;
}
#gotze{
  border-style:solid;
  border-width:5px;
  border-color:darkkhaki;
  margin:20px 15%;
}
